name: Publish
on:
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to publish
        required: true
  push:
    tags: [ 'v*.*.*' ]

jobs:
  build:
    name: Build Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
          ref: refs/tags/${{ inputs.tag }}
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    - name: Clean Build Directory
      run: rm ./build/libs/* -rf
      
    - name: Build with Gradle Wrapper
      run: ./gradlew build
      
    - name: Upload Library JAR
      uses: actions/upload-artifact@v3
      with:
        name: lib
        path: ./build/libs/math*

  publish:
    name: Publish to GitHub Releases
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          ref: refs/tags/${{ inputs.tag }}
      
    - name: Download Library JAR
      uses: actions/download-artifact@v3
      with:
        name: lib

    - name: Publish release
      uses: ghalactic/github-release-from-tag@v5
      with:
        generateReleaseNotes: true
        assets: |
          - path: math*.jar
